<form method="post" action="">

    <!-- username -->
    <div>
        <label for="name">Username:</label>
        <input id="name" type="text" name="name" placeholder="Name">
    </div>

    <!-- email -->
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="Email">
    </div>

    <!-- password -->
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Password">
    </div>

    <!-- Confirm password -->
    <div>
        <label for="confirm-password">Confirm:</label>
        <input id="confirm-password" type="password" name="confirm-password" placeholder="Confirm">
    </div>

    <!-- Submit -->
    <div>
        <button type="submit">Sign Up</button>
    </div>

</form>