<form method="post" action="?type=sign-in&method=post">
    <!-- email -->
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="Email">
    </div>

    <!-- password -->
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Password">
    </div>

    <!-- Submit -->
    <div>
        <button type="submit">Sign In</button>
    </div>

</form>