:root {
  // color vars
  --color-primary: #1d2327;
  --color-secondary: #2271b1;
  --color-white: #f0f0f1;
  --color-gray: rgba(210, 210, 210, 0);
  --color-error: #f03e3e;
  --color-success: #37b24d;
  --placeholder-color: #adb5bd;

  // text and bg
  --text-color: #212529;
  --bg-color: #f8f9fa;

  // permalink
  --permalink-color: var(--color-secondary);
  --permalink-color-hover: var(--color-primary);

  // font
  --primary-font: "Be Vietnam Pro", sans-serif;

  // header
  --header-height: 46px;

  // category
  --category-width: 200px;

  // heading size
  --size-h1: var(--fz-40);
  --size-h2: var(--fz-32);
  --size-h3: var(--fz-20);
  --size-h4: var(--fz-16);
  --size-h5: var(--fz-16);
  --size-h6: var(--fz-16);
}

/************************************
* Responsive
************************************/
@include responsive('mobile') {
  :root {
    // category
    --category-width: 100%;
  }
}