<form method="post" action="?type=<%= type; %>&method=post">

    <!-- email -->
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="Email">
    </div>

    <!-- Submit -->
    <div>
        <button type="submit">Send</button>
    </div>
</form>