<form method="post" action="?type=sign-in&method=post">
    <!-- email -->
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="Email">
    </div>

    <!-- password -->
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Password">
    </div>

    <!-- Button -->
    <div>
        <div>
            <button type="submit">Sign In</button>
        </div>

        <div>
            <a href="/register?type=forget-password">Forget password</a>
        </div>
    </div>

</form>