/**
* Header
**/
.admin-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  min-height: var(--header-height);
  padding: 5px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--color-primary);
  button{
    color: #000000;
  }
}

.admin-panel__account {
  gap: 5px;
  display: flex;
}

/* Dropdown menu */
.dropdown-menu {
  text-align: center;
  padding: 0 10px 0;
  position: absolute;
  min-width: 90px;
  transform: translate(-35px, 10px);
  background-color: var(--color-secondary);
}