<div class="admin-menu">
    <ul>
        <%for( let i = 0 ; i< categories.length; i++) {%>
        <li class="category">
            <a class="router-link" href="<%=categories[i].url%>"><%= categories[i].name%></a>
        </li>
        <% } %>
    </ul>
</div>