[data-pb-components-popup] [data-pb-components-popup-inner] {
    display:grid; grid-template-columns:repeat(5, 1fr); grid-template-rows:max-content; gap:20px;
}

[data-pb-components-popup] [data-component] {
    border:1px solid transparent; padding:10px; border-radius:4px;
    text-align:left; transition:all 0.3s ease;
}

/* hover */
[data-pb-components-popup] [data-component]:hover,
[data-pb-components-popup] [data-component]:focus {border-color:var(--color-secondary);}

[data-pb-components-popup] [data-component-title] {
    font-weight:700; font-size:14px; color:var(--color-secondary);
    margin-bottom:5px;
}
[data-pb-components-popup] [data-component-description] {font-size:13px; color:rgba(33, 37, 41, 0.75);}