/* content */
.media-content {
    margin-bottom: 20px
}
.media-content__heading{
    display: flex;
    align-items: center;
    gap: 10px
}
.media-detail{
    display: flex;
    gap: 20px;
}
.media-detail-name{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}
.media-detail-name label{
    min-width: 50px;
}