/* content */
.posts-content {margin-bottom:20px;}
.posts-content__heading {
    display:flex;
    align-items:center;
    gap:10px;
}
.posts-content h1 {font-size:26px;}

/* list */
.posts-list {
    --title-width:calc(100% - var(--author-width) - var(--categories-width) - var(--date-width));
    --author-width:300px;
    --categories-width:200px;
    --date-width:140px;
}

/* column */
.posts-list__heading,
.posts-list__item {display:flex; align-items:center;}

.posts-list [data-column-wrapper] {min-height:50px;}
.posts-list [data-column] {padding:10px 15px;}
.posts-list [data-column="title"] {width:var(--title-width);}
.posts-list [data-column="author"] {width:var(--author-width);}
.posts-list [data-column="categories"] {width:var(--categories-width);}
.posts-list [data-column="date"] {width:var(--date-width);}

/* heading */
.posts-list .posts-list__heading {background-color:var(--color-secondary); color:var(--color-white)}

/* item */
.posts-list .posts-list__item {align-items:flex-start;}
.posts-list .posts-list__item:nth-child(odd) {background-color:#f8f9fa;}

