<h3>Show all images</h3>
<form class="form-image" method="post" action="?posts_type=media&method=post&action=add" enctype="multipart/form-data">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name">
    <label for="image">Add Image: </label>
    <input type="file" name="image" accept="*/*" id="image">
    <button class="button-style" type="submit">Add New</button>
</form>

<div class="media-list" data-media-wrapper>
    <% data.forEach(media => { %>
        <div class="media-item" data-toggle="media" data-id="<%= media._id %>">
            <h3><%= media.name %></h3>
            <img src="<%= media.url.small %>" alt="<%= media.name %>"/>
        </div>

    <% } ) %>
    <div data-popup>
        <div data-popup-overlay data-toggle="media"></div>
        <div data-popup-inner>
            <img data-media-image src="" alt="">
            <div data-media-information>
                <div data-media-name>1</div>
                <div data-media-url>2</div>
            </div>
        </div>
    </div>
</div>

