/************************
* Post detail
*************************/
.posts-detail {
  display: flex;
  align-items: flex-start;

  // layout
  &--left {

  }

  &--right {

  }

  // title
  &__title {
    margin-bottom: 1.2rem;
  }

  // information
  &__information {
    margin-bottom: var(--spacing-24);
  }

  // dropdown
  &__dropdown {
    gap: 4px;

    // bottom spacing
    &:not(:last-child) {
      margin-bottom: var(--spacing-10);
    }

    // label
    label {
      font-weight: 700;
    }
  }
}

// content
.posts-content {
  // heading
  &__heading {
    margin-bottom: var(--spacing-14);
  }
}

.posts-detail--left {
  width: 75%;
  padding-right: 40px;
}

.posts-detail--right {
  width: 25%;
}

.posts-detail__title input {
  width: 100%;
}

/* label */
.posts-detail label {
  font-size: 14px;
}