<%
const isActiveItem = (category) => {
    return category.type === categoryItem.type ? 'active' : ''
    return ''
}
%>

<div class="category__panel">
    <div class="category__panel-inner">
        <ul class="category__menu">
            <% categories.forEach(category => { %>
                <li class="category__menu-item">
                    <a class="category__menu-item--link <%= isActiveItem(category) %>"
                       href="<%= category.url %>"><%= category.name %></a>
                </li>
            <% }) %>
        </ul>

        <!-- account menu -->
        <ul class="account__menu">
            <li class="category__menu-item">
                <a class="category__menu-item--link" href="#">Account</a>
            </li>

            <li class="category__menu-item">
                <a class="category__menu-item--link" href="/register?type=log-out">Log out</a>
            </li>
        </ul>
    </div>
</div>