<div class="admin-panel txt_color_white">
    <div class="admin__panel--left" data-toggle="sidebar">
        <button class="admin-panel__menu">
            <span class="admin-panel__menu-bar"></span>
            <span class="admin-panel__menu-bar"></span>
            <span class="admin-panel__menu-bar"></span>
        </button>
        <div class="admin-panel__logo">
            <p>Logo</p>
        </div>
    </div>
    <div class="admin__panel--right">
        <div class="admin-panel__account">
            <p>Hello</p>
            <div>
                <button><%= user.name %></button>

                <!-- Drop down account -->
                <ul class="dropdown-menu">
                    <li>
                        <a href="?account">Account</a>
                    </li>

                    <li>
                        <a href="/register?type=log-out">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
