<div data-param="<%= paramName; %>" class="<%= classesName; %>">

    <!-- show media popup button -->
    <div>Media here</div>
    <button data-toggle="media-panel" class="button-style">+</button>

    <!-- media popup -->
    <div data-pb-media-popup data-popup>
        <div data-popup-overflow>
            <div data-popup-overlay data-toggle="media-panel"></div>

            <!-- popup content -->
            <form data-popup-inner
                  method="post" action="?post_type=media&method=post&action=add" enctype="multipart/form-data">

                <!-- media list -->
                <div class="load-file-from-media">
                    <button id="media-library" type="button">Media Library</button>
                    <div data-media-list></div>
                </div>

                <!-- upload new media -->
                <div class="load-file-from-computer">
                    <img data-preview-media src="" alt="">
                    <label for="input-from-computer" data-param-value>Please select image Here</label>
                    <input id="input-from-computer" type="file" accept="image/*" name="image"
                           data-input-media>
                    <button data-save-media-btn type="button">Submit</button>
                </div>
            </form>

            <button class="button-style">Set image</button>
        </div>
    </div>
</div>