<div data-param="<%= paramName; %>" class="<%= classesName; %>">
    <div data-param-value contenteditable="">
        Please edit the content here
    </div>
    <div class="description"> <%= description %></div>
</div>