<div data-type="<%= type %>" data-param="<%= paramName; %>" class="<%= classesName; %>">
    <div data-param-value>
        <label for="text-field"></label>
        <input id="text-filed" name="text-field" placeholder="Type something..."/>
    </div>

    <div class="description"> <%= description %></div>
</div>