<div data-param="<%= paramName; %>" class="<%= classesName; %>">

    <div>
        <div id="toolbar"></div>
        <div id="editor"></div>
    </div>

    <div class="description"> <%= description %></div>
</div>