:root {
  // vertical spacing
  --spacing-40: 4rem;
  --spacing-36: 3.6rem;
  --spacing-30: 3rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-14: 1.4rem;
  --spacing-10: 1rem;

  // font sizes
  --fz-50: 5rem;
  --fz-40: 4rem;
  --fz-32: 3.2rem;
  --fz-20: 2rem;
  --fz-16: 1.6rem;
  --fz-14: 1.4rem;
}